@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__title {
    color: $primary-pupple;
    @include tablet {
    }
    @include desktop {
    }
  }
}
